# Ignore virtual environments
projectenv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment-specific files
.env
*.sqlite3

# Ignore system files (Mac and Windows)
.DS_Store
Thumbs.db